<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">

      <form action="/<%= user._id %>/edit" method="POST" >
        <% if (typeof(errors) !== 'undefined'){ %>
          <div class="alert alert-danger">
          <ul>
            <% for (let error in errors){ %>
              <li><%= errors[error].message %></li>
            <% } %>
          </ul>
          </div>
        <% } %>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
        </div>

        <div class="form-group">
          <button type="submit">Save changes</button>
        </div>
      </form>

      <form action="/<%= user._id %>/edit/delete" method="POST">
          <button type="submit">Delete User</button>
      </form>

    </div>
  </div>
</div>
