<div class="container">
  <section id="content">
    <form action="/signup" method="post">
      <h1>Sign Up</h1>
      <div>
        <label for="username"></label>
        <input type="text" for="username" placeholder="Username" name="username" required="" />
      </div>
      <div>
          <label for="password"></label>
        <input type="password" for="password" placeholder="Password" name="password" required=""/>
      </div>
      <div>
        <label for="email"></label>
        <input type="text" for="email" placeholder="email" name="email" required=""  />
      </div>
      <div>
        <input type="submit" value="Sign Up" />
      </div>
        <a href="/login">Login</a>
      </div>
    </form><!-- form -->

  </section><!-- content -->
</div><!-- container -->
