<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/items/<%= item._id %>/cupons" method="POST">
        <div class="form-group">
          <label for="title">¿Cuantos cupones quieres gastar?</label>
          <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="form-group">
          <label for="delivery">Expected Delivery Date</label>
          <input type="date" name="delivery" value="<%= item.inputFormattedDate %>" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit">Create Cupon</button>
        </div>
      </form>
    </div>
  </div>
</div>
