<div class="container">
	<section id="content">
  <form action="/items/<%= item._id %>/add" method="POST">
    <h1>¿Cuantos cupones quieres gastar?</h1>
    <div>
      <label for="title"></label>
        <input type="number" name="quantity" id="quantity" />
    </div>

    <div>
      <input type="submit" value="Create Cupon" />


    </div>
  </form><!-- form -->

</section><!-- content -->
</div><!-- container -->
<!-- comprobar que el user no puede poner mas cupones de los que le faltan al item-->
