
body{
 margin: 0;
 background-image: url(../imagenes/landing2.jpg);
}
nav{
 background-color: black;
 position: fixed;
 width: 100%;
 margin: 0 auto;
 top: 0;
}
.logo-spotify{
 float: left;
 height: 60px;
 padding: 15px 30px;
}
.logo-spotify > img{
 height: 100%;
}
.lista{
 float: right;
 padding: 20px 30px;
 margin: 0 auto;
}
.lista > li{
 display:inline-block;
 padding:10px;
 color: white;
}
.landing-page{
  background-color:white;
  background-size: cover;
  min-height: 800px;
  height: 570px;
  padding-top: 250px;
  width: 900px;
  margin: auto;
  border: 3px;
  padding: 2px;
}
.titles{
  color: red;
  margin-top: 120px;
}
h1{
  font-size: 65px;
  text-align: center;
}
h3{
  color: green;
  font-size: 25px;
}
h4{
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  font: arial;
}
a{
  color: white;
  text-decoration: none;
}
#imagen{
  margin:150px;
  padding: 2px;
}
footer{
  padding: 0%;
  margin: 0%;
  background-color:black;
  height: 44px;
}

.home-heading-wrapper{
  margin-top: 10%;

}

.item-row{
  margin-top: 10%;
}
