<!-- views/items/new.ejs -->
<div class="container" style="margin-top: 5px;">
  <section id="content">
    <h1>Suba un nuevo producto</h1>
    <form action="/items" method="post" enctype="multipart/form-data">

      <div>
       <label for="title"></label>
          <input type="text" name="title" class="form-control" placeholder="Title" >


          <label for="goal"></label>
          <input type="text" name="goal" class="form-control" placeholder="Price">


          <label for="description"></label>
          <textarea id="description" name="description" class="form-control" placeholder="Description"></textarea>


          <label for="deadline"></label>
          <input type="date" name="deadline" class="form-control" placeholder="Deadline">


              <h3>Upload your photo</h3>
              <input type="file" name="photo">
        <input type="submit" value="Sign Up" />


      </div>
    </form><!-- form -->

  </section><!-- content -->
</div><!-- container -->


<!--
      <div class="form-group">
          <label for="category">Category</label><br>
          <select name="category" id="category">
            <% types.forEach((category) => { %>
              <option type="text" value="<%= category %>" class="form-control"><%= category %></option>
            <%  }) %>
          </select>
        </div>
      -->
