<!-- views/items/new.ejs -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/items" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
          <label for="goal">Goal</label>
          <input type="text" name="goal" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="category">Category</label><br>
          <select name="category" id="category">
            <% types.forEach((category) => { %>
              <option type="text" value="<%= category %>" class="form-control"><%= category %></option>
            <%  }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input type="date" name="deadline" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit">Create item</button>
        </div>
      </form>
    </div>
  </div>
</div>
